root = true

# All files
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
# Sortiere 'using System;' immer nach ganz oben
dotnet_sort_system_directives_first = true

# Nutze den impliziten Usings-Style von .NET 8
csharp_style_namespace_declarations = file_scoped:warning

# Code-Style Empfehlungen
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Markdown & Cursor Rules
[*.{md,mdc}]
trim_trailing_whitespace = false